header{
  background-color: rgb(135,206,250);
  color: blue;
  text-align: center;
  font: bold, 30px,Arial, Helvetica, sans-serif;
}

nav{
  background-color: white;
}

.container{
  background-color: rgb(135,206,250);
  width:75%;
  margin: auto;
}

.section{
  text-align: left;
  border-bottom: 1px red;
  border-bottom-style: solid;
  padding: 5%;
  margin: 5%;

}

.section h3{
  text-align: left;
  font-family: Garamond;
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
}

.section h4{
  text-align: left;
  font-family: Garamond;
  font-weight: 200;
  text-decoration: none;
}


a{
  text-decoration: none;
  color: blue;
}

a:hover{
  color: red;
}

a:active{
  color:gold;
}

a:visited{
  color:black;
}
